{% extends "base.html" %}
{% block content %}

<h1 style="text-align: center;font-size: 100px;font-weight: 600;color: red">article detail</h1>
<h2>{{ object.title|title }}</h2>
<h3>{{ object.price }}</h3>
<p>{{ object.description }}</p>

{% endblock %}