{% extends "base.html" %}
{% block content %}
<a style="float:none; padding: 20px" href="/articles/create">Make Post</a>
<h1 style="text-align: center;font-size: 100px;font-weight: 600;color: red">Article List</h1>

{% for instance in object_list %}
<p>{{instance.id}} -
    <a style="color: rgb(51, 36, 36); font-size: 30px"href="{{ instance.get_absolute_url }}">{{ instance.title }}</a>
    <a style="color: green" href="{{ instance.get_absolute_url }}update">Update</a>
    <a style="color: red" href="{{ instance.get_absolute_url }}delete">Delete</a>
</p>
{% endfor %}

{% endblock %}
