{% extends "base.html" %}
{% block content %}
<a style="float:none; padding: 20px" href="/courses/create">Make Post</a>
<h1 style="text-align: center;font-size: 50px; color: red">Courses List</h1>
{{ object_list }}
{% for instance in object_list %}
<p style="color:black; font-size: 30px">{{instance.id}} -
    <a href="{{ instance.get_absolute_url }}">{{ instance.title }}</a>
    <a style="color: green" href="{{ instance.get_absolute_url }}update">Update</a>
    <a style="color: red" href="{{ instance.get_absolute_url }}delete">Delete</a>
</p>
{% endfor %}

{% endblock %}
