<!DOCTYPE html>
<html lang="en">

<head>
<!--
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nayan</title>
</head>

<body>
    {% include "navbar.html" %}
    {% block content %}
    <h1 style="text-align: center;font-size: 50px;font-weight: 900;color: red">REPLACE ME</h1>
    {% endblock %}
</body>

</html>