{% extends "base.html" %}

{% block content %}

<h1 style="text-align:center; font-size:50px; font-weight:600;color:red">home page</h1>
<ul style="text-align: center; font-size: 25px">
    <a  href="/products/">Products</a>
    <br>
    <a  href="/articles/">Articles</a>
    <br>
    <a  href="/courses/">Courses</a>
</ul>
<p>{{ object.my_text|capfirst }}</p>
<ul>
    {% for value in object.my_list %}
        {% if value|divisibleby:3 %}
            {% if value|divisibleby:2 == 0 %}
                <li>{{value}} is divide by 3 and also odd</li>
            {% else %}
                <li>{{value}} is divide by 3 only</li>
            {% endif %}
        {% else %}
            <li>{{value}} is a even number</li>
        {% endif %}
    {% endfor %}
</ul>
<p>{{ object.my_name|title }}</p>

{% endblock %}