<nav>
    <ul>
        <ul style="text-align: center; font-size: 20px">
            <a href="\">Home</a>
        </ul>
        <a href="/about/">About</a>
        <br>
        <a href="/contact/">Contact</a>
    </ul>
</nav>